html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 56px;
  padding-top: 100px;
  padding-bottom: 44px;
  background-color: #f0f0f0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px; /* Set the fixed height of the footer here */
  line-height: 56px; /* Vertically center the text there */
  background-color: #d3d3d3;
}
